<template>
  <div class="container">
    <h1 class="title">{{ msg }}</h1>
    <ul class="user-list">
      <li v-for="(user,idx) in users" class="user-list__item user">
        <p class="user__order">{{idx+=1}} </p>
        <div class="user__avatar">{{initials(user.name, user.secondName)}}</div>
        <p class="user__name">{{user.name}} {{user.secondName}}</p>
        <p class="user__age">{{user.age}}</p>
        <p class="user__rating">{{user.rating}}</p>
      </li>
    </ul>
    <div class="user">
      
    </div>
  </div>
</template>
<script>
export default {
  name: 'PlayerList',
  props: {
    msg: String
  },
  computed: {
    users() {
      return this.$store.state.users.sort( (a, b) => a.rating > b.rating ? -1 : 1 ) //Выводим сразу по рейтингу
     
    }
  },
  methods: {
    initials(name, secondName) {
      return name.substring(0, 1).toUpperCase() + secondName.substring(0, 1).toUpperCase()
    }
  }
}

</script>

<style lang="scss">
.container {
  max-width: 640px;
  margin: 0 auto;
}
.title {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__item {
    margin-bottom: 2rem;
  }
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__avatar {
    background-color: #629c58;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.2rem;
  }

  &__name {
    flex: 3;
  }

  &__age {
    flex: 1;
  }

  &__rating {
    flex: 1;
    text-align: right;
  }
}

</style>
