<template>
  <div id="app">
    <PlayerList msg="Player list"/>
  </div>
</template>

<script>
import PlayerList from './components/PlayerList.vue'

export default {
  name: 'app',
  components: {
    PlayerList
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
